.subscription {
    background-color: #312b2b;
}

.subscription__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
}

.subscription__content {
    font-size: 16px;
    line-height: 35px;
    color: #cccccc;
}

.subscription__form {
    position: relative;
    width: 360px;
}

.subscription__email {
    width: inherit;
    padding: 15px 70px 15px 15px;
    border: none;
    border-radius: 5px;
}

.subscription__form-submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: #ec4848;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
